<footer class="footer">
  <div class="derechos">
    <p>DannielDev {{year}}</p>
  </div>
  <div class="social">
    <a href="https://www.instagram.com/dannynavas13/" target="_blank" rel="noopener noreferrer">
      <img src="/assets/image/instagram.webp" alt="danniel">
    </a>
    <a href="https://www.linkedin.com/in/luis-daniel-gordo-navas/" target="_blank">
      <img src="/assets/image/linkedin.webp" alt="Linkedin Luis Daniel Gordo Navas">
    </a>
    <a href="https://github.com/DannielNavas" target="_blank"><img src="/assets/image/github-footer.webp" alt=""></a>
  </div>
</footer>
