<footer class="footer">
  <div class="derechos">
    <p>DannielDev {{year}}</p>
  </div>
  <div class="social">
    <a href="https://www.instagram.com/dannynavas13/" target="_blank" rel="noopener noreferrer" aria-label="instagram Danniel Navas">
      <img src="/assets/image/instagram.webp" alt="instagram Danniel Navas">
    </a>
    <a href="https://www.linkedin.com/in/luis-daniel-gordo-navas/" target="_blank" aria-label="Linkedin Luis Daniel Gordo Navas">
      <img src="/assets/image/linkedin.webp" alt="Linkedin Luis Daniel Gordo Navas">
    </a>
    <a href="https://github.com/DannielNavas" target="_blank" aria-label="github Danniel Navas"><img src="/assets/image/github-footer.webp" alt="github Danniel Navas"></a>
  </div>
</footer>
