<nav class="navbar">
  <div class="logo">
    <p class="logo__name">Danniel Dev</p>
  </div>
  <menu class="menu">
    <img src="/assets/image/pipe-nav.svg" alt="" style="height: 90px;" >
    <li class="item">
      <a routerLink="/" routerLinkActive="item__active" [routerLinkActiveOptions]="{ exact: true }">
      Inicio
      </a>
    </li>
    <img src="/assets/image/pipe-nav.svg" alt="" style="height: 90px;">
    <li class="item">
      <a routerLink="/blog" routerLinkActive="item__active" [routerLinkActiveOptions]="{ exact: true }">
      Posts
      </a>
    </li>
    <img src="/assets/image/pipe-nav.svg" alt="" style="height: 90px;">
    <li class="item">
      <a routerLink="/projects" routerLinkActive="item__active" [routerLinkActiveOptions]="{ exact: true }">
      Proyectos
      </a>
    </li>
    <img src="/assets/image/pipe-nav.svg" alt="" style="height: 90px;">
    <li class="item">
      <a routerLink="/certificates" routerLinkActive="item__active" [routerLinkActiveOptions]="{ exact: true }">
      Certificados
      </a>
    </li>
    <img src="/assets/image/pipe-nav.svg" alt="" style="height: 90px;">
  </menu>
</nav>
