<nav class="navbar">
  <div class="logo">
    <p class="logo__name">Danniel Dev</p>
  </div>
  <menu class="menu">
    <img src="/assets/image/pipe-nav.svg" alt="" style="height: 90px;" >
    <li class="item">
      <a routerLink="/" routerLinkActive="item__active">
      Inicio
      </a>
    </li>
    <img src="/assets/image/pipe-nav.svg" alt="" style="height: 90px;">
    <li class="item">
      <a routerLink="/" routerLinkActive="item__active">
      Blogs
      </a>
    </li>
    <img src="/assets/image/pipe-nav.svg" alt="" style="height: 90px;">
    <li class="item">
      <a routerLink="/" routerLinkActive="item__active">
      Proyectos
      </a>
    </li>
    <img src="/assets/image/pipe-nav.svg" alt="" style="height: 90px;">
    <li class="item">
      <a routerLink="/" routerLinkActive="item__active">
      Certificados
      </a>
    </li>
    <img src="/assets/image/pipe-nav.svg" alt="" style="height: 90px;">
  </menu>
</nav>
