<header>
  <section>
    <article class="card">
      <div class="card__icon">
        <img src="assets/image/spock.webp" alt="LLAP">
      </div>
      <div class="card__information">
        <h3>Hola, soy</h3>
        <h1>Danniel Navas</h1>
        <h2>JavaScript developer.</h2>
      </div>
    </article>
    <article>
      <img src="/assets/image/angular.webp" alt="">
      <img src="/assets/image/javascript.webp" alt="">
      <img src="/assets/image/aws.webp" alt="">
      <img src="/assets/image/typescript.webp" alt="">
      <img src="/assets/image/nestjs.webp" alt="">
      <img src="/assets/image/firebase.webp" alt="">
      <img src="/assets/image/nodejs.webp" alt="">
    </article>
  </section>
  <div class="image">
    <img src="assets/image/danniel.webp" alt="Danniel Dev">
  </div>
</header>
