<header>
  <section>
    <article class="card">
      <div class="card__icon">
        <img src="assets/image/spock.webp" alt="LLAP" loading="lazy">
      </div>
      <div class="information">
        <h3>Hola, soy</h3>
        <h1 class="infomation__name">Danniel Navas</h1>
        <h2>JavaScript developer.</h2>
      </div>
    </article>
    <article class="stack">
      <img src="/assets/image/angular.webp" loading="lazy" alt="Angular" />
      <img src="/assets/image/javascript.webp" loading="lazy" alt="JavaScript" />
      <img src="/assets/image/aws.webp" loading="lazy" alt="aws" />
      <img src="/assets/image/typescript.webp" loading="lazy" alt="typescript" />
      <img src="/assets/image/nestjs.webp" loading="lazy" alt="nestjs" />
      <img src="/assets/image/firebase.webp" loading="lazy" alt="firebase" />
      <img src="/assets/image/nodejs.webp" loading="lazy" alt="nodejs" />
    </article>
  </section>
  <div class="image">
    <img src="assets/image/danniel.webp" alt="Danniel Dev" loading="lazy">
  </div>
</header>

<img src="/assets/image/pipe.svg" alt="pipe" class="pipe" loading="lazy">
