<section>
  <article>
    <h1>Ts-app</h1>
    <time>2020-10-10</time>
    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
    from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
    looked up one of the more obscure Latin words, consectetur</p>
    <div class="actions">
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
    </div>
  </article>
</section>
