<app-header></app-header>

<div class="margin"></div>

<section class="section">
  <h2 class="section__title">Publicaciones</h2>

  <ng-container>
    <app-post-cards *ngFor="let article of articles; trackBy: trackByFn" [article]="article"></app-post-cards>
  </ng-container>

</section>

<section class="projects">
  <h2 class="projects__title">Proyectos</h2>

  <div class="container-projects">
      <app-card-projects *ngFor="let project of projects | randomlist:3 ; trackBy: trackByFn" [project]="project" />
  </div>
  <img src="/assets/image/pipe.svg" alt="pipe" class="projects__pipe" loading="lazy" />
</section>


<section class="videos">
  <h2 class="videos__title">Videos</h2>
    <ng-container *ngFor="let video of videos?.items?.slice(0,2)">
      <app-card-video *ngIf="videos" [video]="video" />
    </ng-container>
  <img src="/assets/image/pipe.svg" alt="pipe" class="videos__pipe" loading="lazy" />
</section>

<section class="videos">
  <h2 class="videos__title">Estadísticas</h2>

  <div class="container-projects">
    <app-card-statistics *ngFor="let stast of stasts" [stast]="stast" />
  </div>
</section>
