.card {
  width: 501px;
  height: 117px;
  background: #FFFFFF;
  border-radius: 12px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.information {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;

  &__numbers {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    color: #0FA7C5;
  }
}
