.card {
  width: 1044px;
  height: 165px;
  background: #FFFFFF;
  border-radius: 12px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto 16px auto;
}

.images {
  width: 385px;
  display: flex;
  height: 165px;
  align-items: center;
  justify-content: space-around;

  &__post {
    width: 335px;
    height: 109px;
    aspect-ratio: 16/9;
    border-radius: 8px;
  }
}

.container {
  display: flex;
  flex-flow: column nowrap;
  width: 643px;
  height: 165px;
  justify-content: center;

  &__title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin: 0;
    width: 568px;
  }

  &__description {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    color: #000000;
    width: 582px;
    height: 72px;
  }
}
